* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    margin: 20px;
    padding: 40px;
    justify-content: space-around;
    background-color: black
    font-color: #000000;

}

.header-menu {
    font-size: 19px;
    font-family: Helvetica Neues, Arial, sans-serif;
    font-weight: bold;
}

.container {
    margin: 0;
    padding: 30px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 400px 100px;
}

.nadarte {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    padding: 50px;
    border: 0;
}

.historia {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    padding: 50px;
    border: 0;
    background-color: orange;
}

.missao {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    padding: 50px;
    grid-gap: 30px;
    margin-top: 30px;
}

.visao {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
    padding: 50px;
    grid-gap: 30px;
    background-color: orange;
    margin-top: 30px;
}

.valores {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    padding: 50px;
    grid-gap: 30px;
    margin-top: 30px;
}

.minhanadarte {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: start;
}

.siga-nos {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    font-weight: bold;
    align-self: center;
    justify-self: end;
}


.footer {
    margin: 0;
    padding: 30px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 30px;
}

.pesquisa-por {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.paginas {
    grid-column: 5 / 13;
    grid-row: 1 / 2;
}

.todosdireitosreservados {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    color: gray;
}